.incidents
    width: 100%
    top: 0
    position: relative
    transition: top 300ms ease-in-out


.incidents-search-on
    top: 165px
    transition: top 300ms ease-in-out
    @media screen and (min-width: 650px)
        top: 0