@import '../../vars.scss'

.incident
  width: 100%
  display: flex
  flex-direction: row
  flex-wrap: wrap
  border-bottom: 1px solid #999999
  padding: 0
  margin: 0
  text-decoration: none
  cursor: pointer
  @media screen and (min-width: 650px)
    flex-direction: row

  &:hover
    p
      color: black


  span
    display: block
    font-size: 11px
    margin: 0 0 4px
    color: $dark-color
    opacity: 0.8

    @media screen and (min-width: 650px)
      display: none

  p
    padding: 10px 0 10px 10px
    margin: 0
    color: $dark-color
    font-weight: 400
    font-size: 16px

    @media screen and (min-width: 650px)
      font-size: 13px
      text-align: center
      padding: 14px 0

    @media screen and (min-width: 900px)
      font-size: 15px

.incident-date
  width: 45%

  @media screen and (min-width: 650px)
    width: 12%

.incident-serial
  width: 30%

  @media screen and (min-width: 650px)
    width: 10%

.incident-registration
  width: 25%

  @media screen and (min-width: 650px)
    width: 9%

.incident-operator
  width: 65%

  @media screen and (min-width: 650px)
    width: 23%

.incident-city
  width: 60%
  
  @media screen and (min-width: 650px)
    width: 23%

.incident-airport
  width: 35%

  @media screen and (min-width: 650px)
    width: 8%

.incident-fatalities
  width: 25%
  @media screen and (min-width: 650px)
    width: 10%

.incident-photo
  width: 12%
  display: flex
  justify-content: center
  align-items: center
  width: 15%
  @media screen and (min-width: 650px)
    width: 5%

  img
    width: 46%
    margin: 0 27%
    opacity: 0.6
    @media screen and (min-width: 500px)
      width: 30%
      margin: 0 35%

    @media screen and (min-width: 650px)
      width: 60%
      margin: 0 20%

    @media screen and (min-width: 750px)
      width: 50%
      margin: 0 25%

    @media screen and (min-width: 850px)
      width: 40%
      margin: 0 30%

    @media screen and (min-width: 950px)
      width: 30%
      margin: 0 35%

.incident-odd
  .incident-photo
    background: lighten($inc-photos, 5%)
  .incident-fatalities
    background: lighten($inc-fatalities, 35%)
  .incident-airport
    background: lighten($inc-airport, 50%)
  .incident-city
    background: lighten($inc-city, 55%)
  .incident-operator
    background: lighten($inc-operator, 35%)
  .incident-registration
    background: lighten($inc-reg, 27%)
  .incident-serial
    background: lighten($inc-serial, 30%)
  .incident-date
    background: lighten($inc-date, 45%)

  &:hover
    .incident-photo
      background: lighten($inc-photos, 12%)
    .incident-fatalities
      background: lighten($inc-fatalities, 50%)
    .incident-airport
      background: lighten($inc-airport, 60%)
    .incident-city
      background: lighten($inc-city, 66%)
    .incident-operator
      background: lighten($inc-operator, 47%)
    .incident-registration
      background: lighten($inc-reg, 34%)
    .incident-serial
      background: lighten($inc-serial, 45%)
    .incident-date
      background: lighten($inc-date, 62%)


.incident-even
  .incident-photo
    background: lighten($inc-photos, 10%)
  .incident-fatalities
    background: lighten($inc-fatalities, 40%)
  .incident-airport
    background: lighten($inc-airport, 55%)
  .incident-city
    background: lighten($inc-city, 60%)
  .incident-operator
    background: lighten($inc-operator, 43%)
  .incident-registration
    background: lighten($inc-reg, 32%)
  .incident-serial
    background: lighten($inc-serial, 35%)
  .incident-date
    background: lighten($inc-date, 50%)
  
  &:hover
    .incident-photo
      background: lighten($inc-photos, 8%)
    .incident-fatalities
      background: lighten($inc-fatalities, 50%)
    .incident-airport
      background: lighten($inc-airport, 60%)
    .incident-city
      background: lighten($inc-city, 65%)
    .incident-operator
      background: lighten($inc-operator, 46%)
    .incident-registration
      background: lighten($inc-reg, 34%)
    .incident-serial
      background: lighten($inc-serial, 43%)
    .incident-date
      background: lighten($inc-date, 60%)

