@import '../../vars.scss'

.incident
  width: 100%
  display: flex
  flex-direction: column
  border-bottom: 1px solid #999999
  padding: 0
  margin: 0
  @media screen and (min-width: 650px)
    flex-direction: row

  span
    display: block

    @media screen and (min-width: 650px)
      display: none

  p
    padding: 0
    margin: 0
    color: $dark-color
    font-weight: 400
    font-size: 14px

    @media screen and (min-width: 650px)
      font-size: 13px
      text-align: center
      padding: 5px 0

.incident-date
  width: 100%
  background: lighten($inc-date, 15%)

  @media screen and (min-width: 650px)
    width: 12%

.incident-serial
  width: 100%
  background: lighten($inc-serial, 12%)

  @media screen and (min-width: 650px)
    width: 7%

.incident-registration
  width: 100%
  background: lighten($inc-reg, 7%)

  @media screen and (min-width: 650px)
    width: 9%

.incident-operator
  width: 100%
  background: lighten($inc-operator, 12%)

  @media screen and (min-width: 650px)
    width: 16%

.incident-city
  width: 100%
  background: lighten($inc-city, 12%)
  
  @media screen and (min-width: 650px)
    width: 16%

.incident-airport
  width: 100%
  background: lighten($inc-airport, 12%)

  @media screen and (min-width: 650px)
    width: 8%

.incident-category
  width: 100%
  background: lighten($inc-category, 12%)

  @media screen and (min-width: 650px)
    width: 15%

.incident-fatalities
  width: 100%
  background: lighten($inc-fatalities, 12%)

  @media screen and (min-width: 650px)
    width: 10%

.incident-photos
  width: 100%
  background: lighten($inc-photos, 10%)

  @media screen and (min-width: 650px)
    width: 7%

.incident-odd
  opacity: 0.9

.incident-even
  opacity: 0.8
