@import '../../vars.scss'
  
.incidents
  width: 100%
  top: 0
  position: relative
  transition: top 300ms ease-in-out

.incidents-search-on
  top: 148px
  transition: top 300ms ease-in-out
  @media screen and (min-width: 650px)
    top: 0

.incidents-nav-on
  top: 190px
  tansition: top 300ms ease-in-out
  @media screen and (min-width: 650px)
    top: 0

.incidents-top-info
  width: 100%
  height: 20px
  border-top: 1px solid #999999
  border-bottom: 1px solid #999999
  display: flex
  justify-content: space-between

  p
    padding: 0
    font-size: 12px
    color: #666666
    margin: 3px 0 0 3%

.incidents-wrap
  width: 100%
  position: relative

// INCIDENT HEADER

.incidents-headers
  width: 100%
  display: none

  @media screen and (min-width: 650px)
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center

  p
    text-align: center
    font-family: $font-header
    font-size: 14px
    font-weight: 400
    color: #666
    padding: 8px 0
    margin: 0

    @media screen and (min-width: 900px)
      font-size: 16px

.inc-date-header
  width: 12%
  background: $inc-date

.inc-serial-header
  width: 5%
  background: $inc-serial

.inc-reg-header
  width: 7%
  background: $inc-reg

.inc-operator-header
  width: 18%
  background: $inc-operator

.inc-city-header
  width: 18%
  background: $inc-city

.inc-airport-header
  width: 8%
  background: $inc-airport

.inc-category-header
  width: 17%
  background: $inc-category

.inc-fatalities-header
  width: 8%
  background: $inc-fatalities

.inc-photos-header
  width: 7%
  background: $inc-photos


// NO INCIDENT IN SEARCH

.no-incident
  width: 100%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  margin-top: 100px

  img
    width: 90%
    @media screen and (min-width: 400px)
      width: 350px

  p
    font-size: 16px
    color: #888
    margin-top: 20px
