@import '../../../vars.scss'

.search
  position: absolute
  top: 164px
  display: flex
  flex-direction: row
  justify-content: center
  left: -100%
  transition: left 300ms ease-in-out
  overflow: hidden
  width: 90%
  padding: 30px 5%
  background: rgba(255,255,255,0.95)
  z-index: 100
  flex-wrap: wrap
  border-bottom: 1px solid #ccc
  border-top: 1px solid #999999

  @media screen and (min-width: 650px)
    position: relative
    top: 10px
    left: 0
    width: 500px
    padding: 0
    flex-basis: 500px
    background: none
    flex-wrap: nowrap
    border-bottom: none
    border-top: none
    border-top: none
    margin-right: 20px
    margin-left: auto
    justify-content: flex-end

  @media screen and (min-width: 850px)
    flex-shrink: 0

.search-open
  left: 0
  transition: left 300ms ease-in-out
  padding-bottom: 10px
  @media screen and (min-width: 650px)
    padding-bottom: 0

// CHECKBOX STYLES

.search-heading
  font-size: 12px
  color: $dark-color
  font-style: italic
  width: 100%
  padding: 0
  margin: 0 0 7px
  text-align: left

  @media screen and (min-width: 650px)
    text-align: right

.checkbox
  display: flex
  flex-direction: row
  align-items: center
  justify-content: flex-start
  position: relative
  cursor: pointer
  user-select: none
  width: 100%
  padding: 10px 0
  margin: 0

  @media screen and (min-width: 650px)
    justify-content: flex-end
    padding: 3px 0

  p
    font-size: 13px
    color: $dark-color
    margin: 0 0 0 10px
    padding: 0

.check-input
  position: absolute
  opacity: 0
  cursor: pointer
  height: 0
  width: 0

.check-input:hover + .checkbox
  .check-circle
    background-color: #ccc

  .check-square
    background-color: #ccc

.check-input:checked + .checkbox
  .check-circle
    background-color: #2196F3
  .circle-inside
    display: block
    top: 5px
    left: 5px
    width: 5px
    height: 5px
    border-radius: 50%
    background: white
    position: relative

  .check-square
    background-color: #2196F3
  .square-inside
    color: #ffffff
    font-size: 12px
    font-weight: 700
    position: relative
    display: block
    text-align: center

.check-circle
  top: 0
  left: 0
  height: 15px
  width: 15px
  background-color: #fff
  border-radius: 50%
  border: 1px solid #eee

.check-square
  top: 0
  left: 0
  height: 15px
  width: 15px
  background-color: #ffffff
  border: 1px solid #eeeeee

.square-inside
  display: none


// TEXT INPUT STYLE

.search-input
  width: 100%

  input
    width: 100%
    background: #ffffff
    padding: 5px 10px
    margin: 5px 0  0
    border: 1px solid #ddd
    outline: none

    @media screen and (min-width: 650px)
      width: 110px

    &:focus
      border: 1px solid #2196F3 

// AIRPLANE SEARCH STYLES

.search-column-one
  display: flex
  flex-direction: column
  justify-content: flex-start
  width: 50%
  padding: 0 25% 12px

  @media screen and (min-width: 650px)
    justify-content: flex-end
    width: 130px
    padding: 0 0 12px

.search-divider
  width: 1px
  background: #bbbbbb
  margin: 30px 15px 0
  height: 110px
  display: none

  @media screen and (min-width: 650px)
    display: block

.search-column-two
  display: flex
  flex-direction: column
  justify-content: flex-end
  align-items: flex-start
  margin: 0 10px 7px 0

.search-column-three
  display: flex
  flex-direction: column
  justify-content: flex-end
  align-items: flex-start
  margin: 0 10px 7px 0
  
.search-column-four
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  width: 100%
  margin: 0 0 0 10px

  @media screen and (min-width: 650px)
    width: 120px
    flex-direction: column
    justify-content: flex-end

  select
    color: #666666
    width: 46%
    margin: 10px 2%

    @media screen and (min-width: 650px)
      width: 100%
      margin: 0 0 10px

  option
    width: 100px

// RESET STYLES

.search-reset
  position: absolute
  top: 20px
  right: 20px
  width: 30px
  height: 40px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  cursor: pointer
  opacity: 0.6

  p
    font-size: 12px
    color: $dark-color
    padding: 0
    margin: 5px 0 0

#reset-svg
  width: 30px
  height: 30px

#reset-svg:hover
  animation: spin .8s linear infinite

@-moz-keyframes spin
  100%
    -moz-transform: rotate(360deg)

@-webkit-keyframes spin
  100%
    -webkit-transform: rotate(360deg)

@keyframes spin
  100%
    -webkit-transform: rotate(360deg)
    transform:rotate(360deg)

// INCIDENT SEARCH STYLES

.incident-search
  position: absolute
  top: 165px
  display: flex
  flex-direction: row
  left: -100%
  transition: left 300ms ease-in-out
  overflow: hidden
  width: 100%
  background: rgba(255,255,255,0.95)
  z-index: 100
  flex-wrap: wrap
  border-bottom: 1px solid #ccc
  border-top: 1px solid #ccc
  margin-left: auto
  padding-bottom: 20px

  @media screen and (min-width: 650px)
    position: relative
    top: 0
    left: 0
    width: 350px
    background: none
    flex-wrap: nowrap
    border-bottom: none
    border-top: none
    padding: 0 20px 0

.incident-search-open
  left: 0
  transition: left 300ms ease-in-out

.incident-heading
  font-style: italic

.incident-column-one
  display: flex
  flex-direction: column
  justify-content: flex-end
  align-items: flex-end
  width: 30%
  @media screen and (min-width: 650px)
    margin: 0
    padding: 0
    align-items: flex-end

  p
    color: $dark-color
    font-size: 12px
    text-align: right
    margin: 0
    padding: 5px

  .checkbox-wrap
    display: flex
    flex-direction: row
    justify-content: center

    label
      padding: 0

.incident-search-divider
  width: 1px
  background: #666666
  margin: 20px 10px 0
  height: 100px

  @media screen and (min-width: 650px)
    margin: 75px 10px 0
    height: 70px

.incident-column-two
  display: flex
  flex-direction: column
  justify-content: flex-end
  margin: 0
  width: 43%
  padding: 25px 0 0
  @media screen and (min-width: 650px)
    width: 50%
    width: auto
    margin: 0 0 0 10px
    padding: 0
    align-items: flex-start

  p
    color: $dark-color
    font-size: 12px
    text-align: left
    margin: 0

  .checkbox-wrap
    margin: 0 0 10px

    p
      margin: 0 0 0 7px


  label
    color: $dark-color
    font-size: 12px
    letter-spacing: 0.05em
    margin:  0
    padding: 6.5px 0 0

  input
    width: 150px
    margin: 0 0 5px
    padding: 5px
    border: 1px solid #cccccc

    @media screen and (min-width: 500px)
      width: 200px

  select
    width: 170px
    font-size: 12px
    font-family: $font-base
    color: $dark-color
    height: 20px
    margin-top: 5px

    @media screen and (min-width: 500px)
      width: 230px