@import '../../vars.scss'
    
.history-wrap
    width: 100%
    margin: 0
    padding: 25px 0
    background: linear-gradient($dark-sky, $light-sky)

.history-container
    width: 90%
    margin: 0 auto


    h1
        font-size: 24px
        color: $dark-color
        font-weight: 300
        line-height: 1.5

    h3
        font-size: 16px
        color: $dark-color
        opacity: 0.9
        line-height: 1.5
