.container {
  width: 100%;
}

@import url("https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Francois+One");

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0px;
}
