$dark-color: #4a4a4a;
$header-background: #fefefe;
$header-text: #ffffff;
$light-gray: #cecece;
$dark-gray: #999999;
$dark-sky: #ebf7ff;
$light-sky: #f3faff;
$lighter-sky: #eff8ff;
$lightest-sky: #f2f9ff;

// // HOME PAGE COLORS
//
// $home-first: #44b3c2;
// $home-second: #f1a94e;
// $home-third: #e45641;
// $home-fourth: #5d4c46;
// $home-fifth: #7b8d8e;
// $home-sixth: #729170;

// HOME PAGE COLORS

// $home-first: #55a9a3;
// $home-second: #d57268;
// $home-third: #83a352;
// $home-fourth: #d3c267;
// $home-fifth: #5e6888;
// $home-sixth: #b9c7bf;

$home-first: rgba(16, 43, 84, 1);
$home-second: rgba(18, 48, 89, 1);
$home-third: rgba(18, 86, 109, 1);
$home-fourth: rgba(14, 108, 142, 1);
$home-fifth: rgba(12, 141, 173, 1);
$home-sixth: #55a9a3;

// AIRPLANE COLORS

$serial: #55a9a3;
$current: #d57268;
$date: #83a352;
$reg: #d3c267;
$ops: #5e6888;
$country: #b9c7bf;

// INCIDENTS COLORS

$incidents-even: #cccccc;
$incidents-odd: #aaaaaa;

$inc-date: #cbdab4;
$inc-serial: #baddda;
$inc-reg: #f5f2de;
$inc-operator: #d2d5e0;
$inc-city: #d7d9f2;
$inc-airport: #ededed;
$inc-category: #dcdcdc;
$inc-fatalities: #e3acca;
$inc-photos: #efefef;

$mobile-break: 950px;

// FONTS

$font-base: "Quattrocento Sans", sans-serif;
$font-header: "Francois One", sans-serif;

html {
  font-family: $font-base;
}
